@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.displayNone {
  display: none !important;
}

body {
  background-image: url("./resources/bg.jpg");
  background-position: top center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  >hr {
    width: 100%;
    margin: 0;
  }

  a {
    color: white;
  }

  >main {
    background-color: rgba(0, 0, 0, 0.411);
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
  }
}

#mainSection {
  margin: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .vl {
    border-left: 1px solid white;
    height: 50px;
  }

  >hr {
    width: 100%;
    margin: 0;
  }

  >img {
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 30px;
  }

  >p {
    >a {
      text-decoration: dashed;
      transition: transform 2s;
    }

    >a:hover {
      color: rgb(79, 195, 248);
      cursor: grabbing;
    }
  }

  >.footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    >a {
      border: 1px solid white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      transition: transform 2s;
    }

    a:hover {
      background-color: rgba(175, 175, 175, 0.808);
      cursor: grabbing;
    }
  }

}

section.tabSection {
  >a {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    height: 30px;
    transition: transform 2s;

    >i {
      font-size: 30px;
      height: 30px;
    }
  }

  a:hover {
    transform: rotate(90deg);
  }

  padding: 30px;
  background-color: rgba(41, 40, 40, 0.815);
  margin: 10px 20px;
  position: relative;

  >div.header {
    width: max-content;

    >hr {
      margin: 0;
      margin-bottom: 15px;
    }

    >h2 {
      margin: 0;
    }
  }

  >div.visual {
    width: 100%;
    display: grid;

    >* {
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 750px) {
  section#mainSection {
    margin: 100px 50px;

    >div.footer {
      flex-direction: row;
      justify-content: center;

      >a {
        padding: 15px 40px;
      }
    }
  }

  section>a {
    top: 15px;
    right: 15px;
  }

  section.tabSection {
    margin: 100px 200px;

  }
}